<div class="container">
    <h1 id="welcome" class="lead">Welcome, {{uc.userName}}!</h1>
    <p>This is the user page!</p>
    <button class="btn btn-default" ng-click="uc.logout()">Log Out</button>
    <!-- NOTE adding new stuff here -->
    <div class="inputdiv">
      <!-- <input ng-model="uc.usernameIn" type="text" placeholder="enter username"> -->
      <input ng-model="uc.descriptionIn" placeholder="description" width=80%>
      <input ng-model="uc.imgIn" type="text" placeholder="img url">
      <button ng-click="uc.addButton()" type="button" name="button">Add Button</button>
    </div>
    <div ng-repeat="bob in uc.item"  class = "col-sm-4">
          <!-- need to append shelf items here -->
          <h2>{{bob.userId[0].username}}</h2>
          <h3>{{bob.description}}</h3>
          <img ng-src="{{bob.img}}" class="images">
    </div>
</div>
